# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List examples of open-source tools used in data science
- Define SQL elements and list its benefits
- Review languages such as Java, Scala, C++, JavaScript, and Julia
- Define REST API in relation to request and response

## Author
Patrick Delgado

Some of the popular languages that Data Scientists use are:
1. SQL
2. Scala
3. R

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. Pandas

| Data Science Tools |
|--------------------|
|R Studio            |
|Jupyter             |
|Apache Zeppelin     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335